<ul class="left-menu">
    <li><a href="{{ url(['for': 'panel']) }}">Przegląd</a></li>
    <li><a href="{{ url(['for': 'add']) }}">Nowy kod</a></li>
    <li><a href="{{ url(['for': 'my-codes']) }}">Moje kody</a></li>
    <li><a href="{{ url(['for': 'stats']) }}">Statystyki</a></li>
</ul>