{% extends "layouts/panel.volt" %}

{% block contentBox %}
    Moje kody dynamiczne:
    {% for code in codes %}
        <div>
            <ul>
                <li><a href="{{ url(['for': 'code-details', 'id': code.id]) }}">{{ code.name }}</a></li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}
